<nb-card size="medium">

  <!--<nb-card-header>-->
    <!--<span>Positivity Rate</span>-->
    <!--<nb-select [selected]="type" (selectedChange)="getUserActivity($event); type = $event">-->
      <!--<nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>-->
    <!--</nb-select>-->
  <!--</nb-card-header>-->

  <nb-list class="user-activity-list">
    <nb-list-item *ngFor="let item of positivity_rate | keyvalue">

      <div class="visited-date w-150 ellipsis overflow-eliipsis">
        {{ item.key }}
      </div>

      <div class="visited-pages-count">
        <div class="caption">Readings</div>
        <div class="value">{{ total_readings[item.key] }}</div>
      </div>

      <div class="visited-percentages">
        <div class="caption">Positive, %</div>
        <div class="delta value" [class.up]="getPositivityPercentage(item.key) < 25" [class.down]="getPositivityPercentage(item.key) >= 25" >
          {{ getPositivityPercentage(item.key) }}%
        </div>
      </div>

    </nb-list-item>
  </nb-list>

</nb-card>
