<div class="row">
    <ngx-page-header
      title="Heatmaps"
      description="Maps showing locations of Positive, Negative, and Mismatching readings."
      icon="globe-africa"
      pack="fas">
    </ngx-page-header>
</div>

<div class="row">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-header>
        <nb-icon icon="chart-line" pack="fa"></nb-icon>
        Heatmap of Positive Readings
      </nb-card-header>
      <div echarts [options]="options" class="echarts"></div>
    </nb-card>
  </div>
</div>
