<div class="row">
  <ngx-page-header
    title="Disease Surveillance"
    description="Surveillance of positive cases of disease, percentages of positive and negative cases, and total readings."
    icon="map-marked-alt"
    pack="fas">
  </ngx-page-header>
</div>
<div class="row">
  <div class="col-md-3">
    <ngx-status-box
      title="Total Readings"
      value="{{dashboardStats.total_readings}}"
      [linesData]="linesData"
      icon="globe"
      pack="fas"></ngx-status-box>
      <!--[linesData]="totalReadingsLinesData"-->
  </div>
  <!--<div class="col-md-3">-->
  <!--<ngx-status-box-->
  <!--title="Total Active Users"-->
  <!--value="1.3K"-->
  <!--icon="user"-->
  <!--pack="fa"></ngx-status-box>-->
  <!--</div>-->
  <div class="col-md-3">
    <ngx-status-box
      title="Accuracy"
      value="{{dashboardStats.concordance}}%"
      [linesData]="linesData"
      icon="check-square"
      pack="far"></ngx-status-box>
  </div>
  <div class="col-md-3">
    <ngx-status-box
      title="Positive Readings"
      value="{{dashboardStats.positive_readings}}"
      [linesData]="linesData"
      icon="exclamation-circle"
      pack="fas"></ngx-status-box>
  </div>
</div>
<ngx-case-heatmap></ngx-case-heatmap>
<div class="row">
  <ngx-page-header
    title="Operations & Workforce"
    description='Analyzing user workforce activity, frequency of user outputs matching classifier outputs (ie. "Agreement" or "Disagreement"), and how often results are expired or valid prior to taking the reading.'
    icon="users"
    pack="fa">
  </ngx-page-header>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body style="height: 500px;">
        <ngx-bar-chart-readings></ngx-bar-chart-readings>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body style="height: 500px;">
        <ngx-xaxis-chart-validity></ngx-xaxis-chart-validity>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<ngx-case-data-table></ngx-case-data-table>
