<div class="row">
    <ngx-page-header
      title="Case MetaData"
      description="MetaData collected for each case. Mismatched readings from Classifier and User are highlighted in red.
       <br>Table can be organized by any column by clicking on the column header, or filtered using the search function."
      icon="archive"
      pack="fas">
    </ngx-page-header>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <table datatable [dtOptions]="dtOptions" class="row-border hover">
          <thead>
          <tr>
            <th>Case ID</th>
            <th>User ID</th>
            <th>Test Type Shorthand</th>
            <th>Classifier Used</th>
            <th>Classifier Output</th>
            <th>User Output</th>
            <th>Mode of Verification Used</th>
            <th>Instructions Read</th>
            <th>Image Timestamp (Click for Image)</th>
            <th>Results Expiry</th>
            <th>Location</th>
          </tr>
          </thead>
          <tbody>
          <!--<tr *ngFor="let post of posts">-->
          <!--<td>{{ post.id }}</td>-->
          <!--<td>{{ post.title }}</td>-->
          <!--<td>{{ post.body }}</td>-->
          <!--</tr>-->

          <tr>
            <td>001213</td>
            <td>014578</td>
            <td>SD Bioline P.f / P.v</td>
            <td>ScanWell</td>
            <td>pf_pos</td>
            <td>pf_neg</td>
            <td>Blind</td>
            <td>Yes</td>
            <td>2020-10-12T12:44:00+00:00</td>
            <td>No</td>
            <td>Patna, Bihar</td>
          </tr>
          <tr>
            <td>001215</td>
            <td>014534</td>
            <td>Care Start Pf / Pv</td>
            <td>OpenRDT</td>
            <td>pf_neg</td>
            <td>pf_neg</td>
            <td>Pre_Populate</td>
            <td>No</td>
            <td>2020-10-22T12:54:00+00:00</td>
            <td>No</td>
            <td>Patna, Bihar</td>
          </tr>
                    <tr>
            <td>001213</td>
            <td>014578</td>
            <td>SD Bioline P.f / P.v</td>
            <td>ScanWell</td>
            <td>pf_pos</td>
            <td>pf_neg</td>
            <td>Blind</td>
            <td>Yes</td>
            <td>2020-10-12T12:44:00+00:00</td>
            <td>No</td>
            <td>Patna, Bihar</td>
          </tr>
          <tr>
            <td>001215</td>
            <td>014534</td>
            <td>Care Start Pf / Pv</td>
            <td>OpenRDT</td>
            <td>pf_neg</td>
            <td>pf_neg</td>
            <td>Pre_Populate</td>
            <td>No</td>
            <td>2020-10-22T12:54:00+00:00</td>
            <td>No</td>
            <td>Patna, Bihar</td>
          </tr>
          <tr>
            <td>001213</td>
            <td>014578</td>
            <td>SD Bioline P.f / P.v</td>
            <td>ScanWell</td>
            <td>pf_pos</td>
            <td>pf_neg</td>
            <td>Blind</td>
            <td>Yes</td>
            <td>2020-10-12T12:44:00+00:00</td>
            <td>No</td>
            <td>Patna, Bihar</td>
          </tr>
          <tr>
            <td>001215</td>
            <td>014534</td>
            <td>Care Start Pf / Pv</td>
            <td>OpenRDT</td>
            <td>pf_neg</td>
            <td>pf_neg</td>
            <td>Pre_Populate</td>
            <td>No</td>
            <td>2020-10-22T12:54:00+00:00</td>
            <td>No</td>
            <td>Patna, Bihar</td>
          </tr>
                    <tr>
            <td>001213</td>
            <td>014578</td>
            <td>SD Bioline P.f / P.v</td>
            <td>ScanWell</td>
            <td>pf_pos</td>
            <td>pf_neg</td>
            <td>Blind</td>
            <td>Yes</td>
            <td>2020-10-12T12:44:00+00:00</td>
            <td>No</td>
            <td>Patna, Bihar</td>
          </tr>
          <tr>
            <td>001215</td>
            <td>014534</td>
            <td>Care Start Pf / Pv</td>
            <td>OpenRDT</td>
            <td>pf_neg</td>
            <td>pf_neg</td>
            <td>Pre_Populate</td>
            <td>No</td>
            <td>2020-10-22T12:54:00+00:00</td>
            <td>No</td>
            <td>Patna, Bihar</td>
          </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
