<div class="row">
  <div class="col-xxl-5">
    <!--<div class="row">-->
      <!--<div class="col-md-6">-->
        <!--<ngx-stats-profit-card></ngx-stats-profit-card>-->
      <!--</div>-->
      <!--<div class="col-md-6">-->
        <!--<ngx-stats-earning-card></ngx-stats-earning-card>-->
      <!--</div>-->
    <!--</div>-->

    <ngx-stats-traffic-reveal-card></ngx-stats-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-stats-charts></ngx-stats-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-stats-country-orders></ngx-stats-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-stats-progress-section></ngx-stats-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-stats-visitors-analytics></ngx-stats-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-stats-user-activity></ngx-stats-user-activity>
  </div>
</div>
