<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>

    <div class="logo" [ngSwitch]="availableDomains.length">
      <a *ngSwitchCase="0" href="#" (click)="navigateHome()">CloudWorks</a>
      <a *ngSwitchCase="1" href="#" (click)="navigateHome()">{{currentDomain.name}}</a>
      <span *ngSwitchDefault>
        <nb-select [selected]="currentDomain.id" (selectedChange)="switchDomain($event)" status="primary" class="w-200">
          <nb-option *ngFor="let domain of availableDomains" [value]="domain.id"> {{ domain.name }}</nb-option>
        </nb-select>
      </span>
    </div>
  </div>
</div>
<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item">
      <input nbInput placeholder="Range Picker" style="width: 160px"
             [nbDatepicker]="rangepicker"
             [(ngModel)]="dateRange"
             (ngModelChange)="updateDateRange($event)">
      <nb-rangepicker #rangepicker></nb-rangepicker>
    </nb-action>
    <!--<nb-action class="control-item">-->
    <!--<nb-search type="rotate-layout"></nb-search>-->
    <!--</nb-action>-->
    <!--<nb-action class="control-item" icon="email-outline"></nb-action>-->
    <!--<nb-action class="control-item" icon="bell-outline"></nb-action>-->
    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <nb-user
        nbContextMenuTag="user-context-menu"
        [nbContextMenu]="userMenu"
        [onlyPicture]="userPictureOnly"
        [name]="user?.full_name"
        [picture]="user?.picture">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
