<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
          <tr>
            <th>Case ID</th>
            <th>User ID</th>
            <th>Test Type Shorthand</th>
            <th>Classifier Used</th>
            <th>Classifier Output</th>
            <th>User Output</th>
            <th>Mode of Verification Used</th>
            <th>Instructions Read</th>
            <th>Image Timestamp (Click for Image)</th>
            <th style="min-width: 80px">Results Expiry</th>
            <th>Location</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of testResultList">
            <td>{{item.session.session_id}}</td>
            <td class="text-center">N/A</td>
            <td>{{item.session.test_profile_id}}</td>
            <td class="text-center">N/A</td>
            <td class="text-center">{{item.classifier_results | formatResultsJson}}</td>
            <td class="text-center">{{item.results | formatResultsJson}}</td>
            <td class="text-center">N/A</td>
            <td class="text-center">N/A</td>
            <td><a href="{{item.session.media_list[0] && item.session.media_list[0].file}}" target="_blank">{{item.time_read | formatDataTime}}</a></td>
            <td>{{item.session.time_resolved | resultsExpiry: item.session.time_expired}}</td>
            <td class="text-center">N/A</td>
          </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
