<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <button nbButton status="primary" (click)="exportToXLS()" class="float-right">
          <nb-icon icon="download"></nb-icon>
          Export to XLS
        </button>
      </nb-card-header>
      <nb-card-body>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
          <tr>
            <th>Case ID</th>
            <th>Test Type Shorthand</th>
            <th>Classifier Output</th>
            <th>User Output</th>
            <th>Mode of Verification Used</th>
            <th>Instructions Read</th>
            <th>Image Capture Attempts</th>
            <th>Image Timestamp</th>
            <th style="min-width: 80px">Results Expiry</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of testResultList">
            <td (click)="showCaseRecordDetails(item)" class="cursor-pointer" nbTooltip="Show session details."
                nbTooltipPlacement="top"><a href="javascript:;">{{item.session.session_id}}</a></td>
            <td>{{item.session.test_profile_id}}</td>
            <td class="text-center">{{item.classifier_results | formatResultsJson}}</td>
            <td class="text-center">{{item.results | formatResultsJson}}</td>
            <td class="text-center">{{getClassifierModeAttr(item.session.raw_payload)}}</td>
            <td class="text-center">{{getInstructionsViewedAttr(item.session.metrics)}}</td>
            <td class="text-center">{{getImageCaptureAttemptsAttr(item.session.metrics)}}</td>
            <td>
              <div
                *ngIf="item.session.media_list[0] && item.session.media_list[0].file; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock><a nbTooltip="Click for Image."
                nbTooltipPlacement="top" href="{{item.session.media_list[0].file}}"
                                         target="_blank">{{item.time_read | formatDataTime}}</a></ng-template>
              <ng-template #elseBlock>{{item.time_read | formatDataTime}}</ng-template>
            </td>
            <td>{{item.time_read | resultsExpiry: item.session.time_resolved : item.session.time_expired}}</td>
          </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
